html {
    box-sizing: border-box;
}

nav {
    border-bottom: black 1px;
    padding: 16px 16px 16px 16px;
}

body {
    background-color: rgba(115, 227, 190, 0.612);
    align-content: center;
    background: radial-gradient(gold);
    color:brown;
    margin: 0px;
    padding: 0px;
}


h1 {
    font-size: 56px;
    font-family: sans-serif;
    background-color: orange;
    color: darkblue;
    margin: 20px;
    padding: 20px 20px 20px 20px;
    border: 3px groove black;
}

h1::after {
    content:"\1F695"
}

h1::before {
    content:"\269E"
}

h2 {
    background-color:purple;
    border: 3px white dashed;
    color:white;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}

h3 {
    font-style: italic;
    font-size: 26px;
    padding-left: 60px;
    margin: 12px 0px 12px 0px;
}

h4 {
    font-size: 24px;
    margin: 6px 6px 10px 10px;
    color: rgb(61, 140, 16);
}

h5 {
    font-size: 40px;
    color: whitesmoke;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

table {
    border: purple 3px;
    padding: 11px 11px 11px 11px;
}



footer {
    font-size: 16px;
    font-style: italic;
    color: rgb(151, 130, 134);
    padding: 12px 12px 12px 12px;
    background-color: orange;
    border: 2px outset black;
}

.container {
    background: linear-gradient(45deg, rgb(218, 209, 166), rgb(118, 210, 81));
    display: grid;
    padding: 15px 9%;
    padding-bottom: 100px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
}

.container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: guava;
    text-align: center;
    padding: 30px 20px;

}
.container .box p{
    font-size: 24px;
    font-style: italic;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 5px 0px;
    line-height: 1.2;

}

.container .box img{
    align-content: center;
    height: 250px;
    width: 250px;
}

img {
    align-content: center;
    height: 350px;
    width: 350px;
}

.container .box .btn{
    display: inline-block;
    color: rgb(25, 134, 94);
    font-size: 26px;
    border-radius: 5px;
}

.container .box .btn:hover{
    letter-spacing: 1px;
}
.container .box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}

.center {
    text-align: center;
}

.nav {
    background-color: orange;
    border: 2px outset black;

}

a {
    background-origin: padding-box;
    text-decoration: none;
    color: blueviolet;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 8px 8px 8px 8px;
    border: none;
}

h5 > a {
    font-size: 42px;
    background-origin: padding-box;
    padding: 4px 4px 4px 4px;
    border: 3px rgb(147, 187, 147) double;
}

h5 > a::before {
    content: "\1F32E"
}
h5 > a::after {
    content: "\1F32E"
}

h4 > a {
    border: none;
    background-origin: padding-box;
}



.star input {
    display: none;
}

.star > label {
    width: 30px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: gold;
    transition: 0.2s ease;
}

.star label:hover {
    color: brown;
    transition: 0.2s ease;
}

.star label:active::before {
    transform: scale(1.1);
}

.star label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star input:checked ~ label:before {
    content:'\2605';
}

.star input:checked ~ label:before {
    font-size: 36px;
    line-height:  21px;
}


.star {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 10px;
    position: relative;
}

.pseudexico {
    color: blueviolet;
    font-size: 36px;
}


.rating {
    font-size: 20px;
    color: rgb(194, 150, 39);
    padding: 0px 0px 11px 11px;
}

#one {
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 8px;
    border: 10px solid;
    margin: 100px;
}

#two {
    margin: 25px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid;
}
